<a href="https://colab.research.google.com/github/MuskanTiwari12/90-days-aiml/blob/main/22_1_26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

traffic light by condition sentence used

In [3]:
color= input("enter the color:")
if color=="red":
  print("stop now!")
elif color=="yellow":
  print("get ready!")
elif color=="green":
  print("goooo!")
else:
  print("wrong input")

enter the color:happy
wrong input

age system

In [5]:
age=int(input("enter ur age"))
if age<13:
  print("childeren")
elif age>=13 and age<20:
  print("teenager")
elif age>=20 and age<40:
  print("adult")
else:
  print("senior citizen")

enter ur age12
childeren

In [7]:
username="admin"
passward="1234me"
u=input("enter ur username:")
p=input("enter ur passward:")
if(u==username and p==passward):
  print("login successed")
elif(u!=username or p!=passward):
  print("login fail try again...")
  u=input("enter ur username:")
  p=input("enter ur passward:")
else:
  print("opps lock ur account")

enter ur username:muskan
enter ur passward:1111
login fail try again...
enter ur username:admin
enter ur passward:1234me

In [8]:
#odd even
num=int(input("enter num:"))
if(num%2==0):
  print("even")
else:
  print("odd")

enter num:456481269
odd

loops

In [11]:
i=1
while(i<6):
  print(i)
  i+=1
while(i>0):
  print(i)
  i-=1

1
2
3
4
5
6
5
4
3
2
1

multiplication tabel

In [12]:
num=int(input("enter number:"))
i=1
while(i<=10):
  print(num,"muliply by",i,"is",num*i)
  i+=1;

enter number:5
5 muliply by 1 is 5
5 muliply by 2 is 10
5 muliply by 3 is 15
5 muliply by 4 is 20
5 muliply by 5 is 25
5 muliply by 6 is 30
5 muliply by 7 is 35
5 muliply by 8 is 40
5 muliply by 9 is 45
5 muliply by 10 is 50

In [13]:
word=input("enter word")
ans=0
for i in word:
  if(i=="a" or i=="e" or i=="i" or i=="o" or i=="u"):
    ans+=1
print("vowel count:", ans)

enter wordmuskanjiiiiiii
vowel count: 9

In [18]:
#sum of first n natural number
n=5
sum=0
for i in range(1,n+1):
  sum+=i
  print(sum)

1
3
6
10
15

In [19]:
#function for avg of 3
def avg(a,b,c):
  return (a+b+c)/3

avg(1,5,6)

4.0

In [20]:
#factorial
def fact(n):
  ans=1
  for i in range(1,n+1):
    ans*=i
  return ans

fact(10)

3628800

Write a function that takes two integers and and prints all even
numbers between them (inclusive).

In [22]:
def even_btw(a,b):
  for i in range(a,b+1):
    if(i%2==0):
      print(i)
even_btw(2,22)

2
4
6
8
10
12
14
16
18
20
22

Write a function to return the count the number of digits in a number, n

In [26]:
def countNum(n):
  count=0
  for i in n:
    count+=1
  return count

print(countNum([1, 2, 3, 4]))     # 4
print(countNum("Muskan"))        # 6
print(countNum((10, 20, 30)))    # 3

4
6
3

Write a program to print all numbers from 1 to 100 that are divisible by both 3
and 5.

In [27]:
for i in range(1,100+1):
  if(i%3==0 and i%5==0):
    print(i)

15
30
45
60
75
90

Design a program to continuously input a number n from user & print if it is
positive or negative until the user enters “Quit”.

In [28]:
while(True):
  n=input("enter number: ")
  if(n=="Quit"):
    break
  n=int(n)
  if(n<0):
    print("negative")
  else:
    print("positive")

enter number: 55
positive
enter number: Quit

Write a function that returns if is a prime number and
otherwise, using a loop.

In [30]:
def isprime(n):
  for i in range(2,n):
    if(n%i==0):
      return False
  return True

isprime(83)

True