<a href="https://colab.research.google.com/github/MuskanTiwari12/90-days-aiml/blob/main/23_1_26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

check palindrone

In [ ]:
str=input("enter: ")
flag=False
for i in range(len(str)//2):
  if(str[i]!=str[-(i+1)]):
    print("not pallindrone")
    flag=True
    break
if(flag==False):
  print("valid pallindrone")

enter: gum
not pallindrone

Given a list of integers compute the average of all numbers in the list.

In [ ]:
list=[1,2,3,4,5,6,7,8]
sum=0
for i in list:
  sum+=i
print(f"average of list is {sum/len(list)}")

average of list is 4.5

Input two lists of integers from the user. Merge them into one list and sort the
result.
Q3
Eg - list1 = [1, 2, 7] , list2 = [2, 4, 5]
result = [1, 2, 3, 54, 5, 7]

In [15]:
list1=list(input("enter list1: "))
list2=list(input("enter list2: "))
for i in list2:
  list1.append(i)
list1.sort()
print(list1)

enter list1: 123

TypeError: list indices must be integers or slices, not str

. Given a tuple of integers, create:
• A tuple of all even numbers
• A tuple of all odd numbers

In [17]:
odd=(1,3,5,7,9)
even=(2,4,6)
print(odd)
print(even)

(1, 3, 5, 7, 9)
(2, 4, 6)

Q5. Create a dictionary where:
• Keys = student names
• Values = marks (integer)
Write a menu-based program where user presses a key (’A’, ‘B’, ‘C’, ‘D’)
depending on the operation they want to perform on the dictionary:
1. A - Add a student
2. B - Update marks
3. C - Search for a student
4. D - Display all students and marks

In [23]:
from ast import Break
dic={
    "muskan":100,
    "vikas":55,
    "viso": 75,
    "guddo":85,
    "rammu":44
}
while(True):
  menu=input("enter menu: ")
  if(menu=="A"):
    name=input("enter name:")
    marks=int(input("enter marks:"))
    dic[name]=marks
    print("succesfully added")

  elif(menu=="B"):
    name=input("enter update name:")
    if name in dic:
      marks=int(input("new marks: "))
      dic[name]=marks
      print("succesfully added")
    else:
      print("no student found")

  elif(menu=="C"):
    name=input("enter name to search: ")
    if name in dic:
      print(f"marks of {name} is {dic[name]}")
    else:
      print("invalis name")
  elif(menu=="D"):
    print(dic)

  elif(menu=="quit"):
      break
  else:
    print("invalid menu")

enter menu: A
enter name:muskan
enter marks:99
succesfully added
enter menu: D
{'muskan': 99, 'vikas': 55, 'viso': 75, 'guddo': 85, 'rammu': 44}
enter menu: quit

. Given a list of words:
words = ["apple", "banana", "kiwi", "cherry", "mango"]
Create a dictionary that maps each word to its length.
Example:
{"apple": 5, "banana": 6, "kiwi": 4, ...}

In [24]:
words = ["apple", "banana", "kiwi", "cherry", "mango"]
dic={}
for var in words:
  dic[var]=len(var)
print(dic)

{'apple': 5, 'banana': 6, 'kiwi': 4, 'cherry': 6, 'mango': 5}

Write a program that takes a string from the user and prints the number of
spaces in the string.

In [ ]:
s = input("Enter a string: ")
count = 0

for ch in s:
    if ch == " ":
        count += 1

print("Number of spaces:", count)

Write a program to check whether two lists share no common elements.
# share no common elements list1 = [1, 2, 3, 4] list2 = [5, 6, 7, 8]
# share common elements list1 = [1, 2, 3] list2 = [3, 4]

In [25]:
list1=[1,2,3,4,5]
list2=[3,4,5,6]
if set(list1).intersection(set(list2)):
  print("share common elements")
  print(set(list1).intersection(set(list2)))
else:
  print("no common elements")

share common elements
{3, 4, 5}

9. Given a list, print all elements that appear more than once in the list.
[Hint - use sets]

In [28]:
list1=[1,2,3,4,5,7,2,5,6,7]
seen=set()
duplicate=set()
for num in list1:
  if(num in seen):
    duplicate.add(num)
  else:
    seen.add(num)
print(f"all elements that appear more than once in the list: {duplicate}")

all elements that appear more than once in the list: {2, 5, 7}

Ask the user for a string and print:
• All unique characters
• The count of unique characters

In [29]:
str= input("enetr:")
unique=set()
for i in str:
  unique.add(i)
print(f"all unique characters: {unique} count:{len(unique)}")

enetr:muskan and bappa are best friend
all unique characters: {'s', 'f', 'r', 'b', 't', ' ', 'n', 'i', 'e', 'p', 'u', 'm', 'd', 'a', 'k'} count:15